<a href="https://colab.research.google.com/github/Mahdi-Miri/python/blob/main/P12-P16/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Work On Concepts

# Part 6

In [1]:
my_list = [1,2,3]
print(my_list)

[1, 2, 3]

In [2]:
my_list = [10 , 23 , 42 , 32 ]
print(my_list[3])

32

In [3]:
del my_list[-1]
print(my_list)
last_element = my_list.pop()
print(last_element)

[10, 23, 42]
42

In [4]:
my_list = [1 , 2, 3, 4,3 ,3,2,2,1,4]
print(my_list)

my_list.insert(2,85)
print(my_list)

[1, 2, 3, 4, 3, 3, 2, 2, 1, 4]
[1, 2, 85, 3, 4, 3, 3, 2, 2, 1, 4]

In [5]:
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)

[1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 85]
[85, 4, 4, 3, 3, 3, 2, 2, 2, 1, 1]

In [6]:
for i in my_list:
  print(i)

85
4
4
3
3
3
2
2
2
1
1

In [7]:
my_tuple = tuple(my_list)
print(my_tuple)
my_set = set(my_tuple)
print(my_set)

(85, 4, 4, 3, 3, 3, 2, 2, 2, 1, 1)
{1, 2, 3, 4, 85}

# Part 7

In [8]:
my_tuple = (1 ,2, 3)

In [9]:
print(my_tuple[2])

3

In [10]:
for i in my_tuple:
  print(i)

1
2
3

In [11]:
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

# Part 12

In [12]:
tuples = [(1,2) , (3,4) , (5,6)]

for a,b in tuples:
  print(a,b)

dicts = {'a' : 1 , 'b': 2}
for key, value in dicts.items():
  print(key, value)

1 2
3 4
5 6
a 1
b 2

In [13]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [14]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [18]:
#####??????????????????????????????????????################
values = [1 , 2 , 3 , 4, 5 ,5 ,6]

for n in values:
  values.remove(n)

print(values)

[2, 4, 5]

In [19]:
for i in values[:]:
  values.remove(i)
print(values)

[]

In [20]:
values = [1,2,3,4]

for i in reversed(values):
  values.remove(i)

print(values)

[]

In [22]:
numbers = [1,2,3,4,5,6]

even_numbers = []

for n in numbers:
  if n % 2 == 0 :
    even_numbers.append(n)
print(even_numbers)

[2, 4, 6]

In [23]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [24]:
for i in range(10):
  if i % 2 != 0 :
    continue
  print(i)

0
2
4
6
8

In [25]:
dicts = {'a': 1 , 'b' :2 }

for key in dicts:
  print(key)

for key , values in dicts.items():
  print(key , values)

a
b
a 1
b 2

# Part 13

In [26]:
squared = []

for x in range(10):
  squared.append(x**2)

squared = [x**2 for x in range(10)]


dicts = {x: x*2 for x in range(10)}

print("squared = :" , squared)
print("dict = : " , dicts)

squared = : [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
dict = :  {0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [28]:
count = 0
while count <5 :
  print(count)
  count +=1

0
1
2
3
4

In [29]:
x = 0
while x < 10 :
  print(x)
  x +=1

0
1
2
3
4
5
6
7
8
9

In [32]:

keep_going = True
while keep_going and x<10 :
  print(x)
  x+=1

0
1
2
3
4
5
6
7
8
9

In [33]:
found  = False
i = 0
my_list = [2,3,54,75,65,434,56,43,67,77]
item = 98
while i < len(my_list) and not found:
  if my_list[i] == item:
    fount = True
  else:
    i += 1
if not found:
  print('item not found')

item not found

In [34]:
max_iterations = 100
i = 0
while i < max_iterations:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99