<a href="https://colab.research.google.com/github/Mahdi-Miri/python/blob/main/P12-P16/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Work On Concepts

# Part 6

In [1]:
my_list = [1,2,3]
print(my_list)

[1, 2, 3]

In [2]:
my_list = [10 , 23 , 42 , 32 ]
print(my_list[3])

32

In [3]:
del my_list[-1]
print(my_list)
last_element = my_list.pop()
print(last_element)

[10, 23, 42]
42

In [4]:
my_list = [1 , 2, 3, 4,3 ,3,2,2,1,4]
print(my_list)

my_list.insert(2,85)
print(my_list)

[1, 2, 3, 4, 3, 3, 2, 2, 1, 4]
[1, 2, 85, 3, 4, 3, 3, 2, 2, 1, 4]

In [5]:
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)

[1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 85]
[85, 4, 4, 3, 3, 3, 2, 2, 2, 1, 1]

In [6]:
for i in my_list:
  print(i)

85
4
4
3
3
3
2
2
2
1
1

In [7]:
my_tuple = tuple(my_list)
print(my_tuple)
my_set = set(my_tuple)
print(my_set)

(85, 4, 4, 3, 3, 3, 2, 2, 2, 1, 1)
{1, 2, 3, 4, 85}

# Part 7

In [8]:
my_tuple = (1 ,2, 3)

In [9]:
print(my_tuple[2])

3

In [10]:
for i in my_tuple:
  print(i)

1
2
3

In [11]:
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

# Part 12

In [12]:
tuples = [(1,2) , (3,4) , (5,6)]

for a,b in tuples:
  print(a,b)

dicts = {'a' : 1 , 'b': 2}
for key, value in dicts.items():
  print(key, value)

1 2
3 4
5 6
a 1
b 2

In [13]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [14]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [18]:
#####??????????????????????????????????????################
values = [1 , 2 , 3 , 4, 5 ,5 ,6]

for n in values:
  values.remove(n)

print(values)

[2, 4, 5]

In [19]:
for i in values[:]:
  values.remove(i)
print(values)

[]

In [20]:
values = [1,2,3,4]

for i in reversed(values):
  values.remove(i)

print(values)

[]

In [22]:
numbers = [1,2,3,4,5,6]

even_numbers = []

for n in numbers:
  if n % 2 == 0 :
    even_numbers.append(n)
print(even_numbers)

[2, 4, 6]

In [23]:
for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [24]:
for i in range(10):
  if i % 2 != 0 :
    continue
  print(i)

0
2
4
6
8

In [25]:
dicts = {'a': 1 , 'b' :2 }

for key in dicts:
  print(key)

for key , values in dicts.items():
  print(key , values)

a
b
a 1
b 2