<a href="https://colab.research.google.com/github/Mahdi-Miri/python/blob/main/String/String1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Work With Strings

In [ ]:
my_string = "My Name is Mahdi Miri"
age = '24'
joined_strings = my_string + ' And My Age Is : ' + age
print (joined_strings)

My Name is Mahdi Miri And My Age Is : 24

In [ ]:
string_lenghts = len(my_string)
print(string_lenghts)

21

In [ ]:
print(my_string[0])
print(my_string[2])
print(my_string[-1])
print(my_string[4:8])
print(my_string[-1:4])

M

i
ame

In [ ]:
text = 'my Name is Mahdi'
changed_name = text.replace('Mahdi', 'John')
print(changed_name)

In [ ]:
name = 'Mahdi'
age = "24"
nationality = "IRAN"
text = f"My Name Is {name} And I Have {age} Years Old, I From {nationality}."
print(text)