<a href="https://colab.research.google.com/github/Mahdi-Miri/python/blob/main/P6-P11/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Work On Concepts

# Part 6

In [5]:
my_list = [1,2,3]
print(my_list)

[1, 2, 3]

In [6]:
my_list = [10 , 23 , 42 , 32 ]
print(my_list[3])

32

In [7]:
del my_list[-1]
print(my_list)
last_element = my_list.pop()
print(last_element)

[10, 23, 42]
42

In [8]:
my_list = [1 , 2, 3, 4,3 ,3,2,2,1,4]
print(my_list)

my_list.insert(2,85)
print(my_list)

[1, 2, 3, 4, 3, 3, 2, 2, 1, 4]
[1, 2, 85, 3, 4, 3, 3, 2, 2, 1, 4]

In [9]:
my_list.sort()
print(my_list)
my_list.reverse()
print(my_list)

[1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 85]
[85, 4, 4, 3, 3, 3, 2, 2, 2, 1, 1]

In [10]:
for i in my_list:
  print(i)

85
4
4
3
3
3
2
2
2
1
1

In [11]:
my_tuple = tuple(my_list)
print(my_tuple)
my_set = set(my_tuple)
print(my_set)

(85, 4, 4, 3, 3, 3, 2, 2, 2, 1, 1)
{1, 2, 3, 4, 85}

# Part 7

In [12]:
my_tuple = (1 ,2, 3)

In [13]:
print(my_tuple[2])

3

In [14]:
for i in my_tuple:
  print(i)

1
2
3

In [15]:
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

# Part 8

In [16]:
my_set = {1 ,2 ,3 ,5}

In [17]:
my_set.add(4)

In [18]:
print(my_set)

{1, 2, 3, 4, 5}

In [19]:
my_set.remove(1)
print(my_set)

{2, 3, 4, 5}

In [20]:
set2 = {6,7,8}

In [21]:
union_set = my_set.union(set2)
print(union_set)

{2, 3, 4, 5, 6, 7, 8}

In [22]:
intersection = my_set.intersection(union_set)
print(intersection)

{2, 3, 4, 5}

In [24]:
difference_set = my_set.difference(union_set)
print(difference_set)

set()

In [26]:
duplicated_set = {1,1,1,1,2,3,4,4,4,4}
print(duplicated_set)

{1, 2, 3, 4}

# Part 9

In [29]:
my_dict = {'name' : 'Mahdi'}
print(my_dict['name'])

Mahdi

In [30]:
my_dict['age'] = 31
print(my_dict)

{'name': 'Mahdi', 'age': 31}

In [31]:
my_dict['age'] = 24
print(my_dict)

{'name': 'Mahdi', 'age': 24}

In [32]:
my_dict.pop('age')
print(my_dict)

{'name': 'Mahdi'}

In [33]:
for key in my_dict:
  print(key , my_dict[key])

name Mahdi

In [34]:
my_dict = {'name': 'mahdi', 'age' : '24'}
my_dict.clear()
print(my_dict)

{}

In [36]:
my_dict = {'name': 'mahdi', 'age' : '24'}

In [37]:
value = my_dict.get('name')
print(value)

mahdi

In [41]:
items = my_dict.items()
print(items)
key = my_dict.keys()
print(key)

dict_items([('name', 'mahdi'), ('age', '24')])
dict_keys(['name', 'age'])